<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="about.component.css">    
</head>
<body>        
      
    <!--Imagen y Texto--> 
    <div class="top">
        <div id="left">
        </div>
    </div>
        
        <div id="right">
            <h1>Acerca de nosotros</h1>
            <br>
            <p>House Hub es una empresa Mexicalense que se enfoca en facilitar la venta y renta de casas en nuestra ciudad. Buscamos transformar la industria y ofrecer un servicio accesible para todos sin importar la zona en que se encuentra con el fin de brindar la misma oportunidad a nuestros propietarios y tener un catálogo con variedad.
            </p>
            <br>
             <div class="row"> <!-- contenedor -->
                <div class="a"><h2>FÁCIL DE ALQUILAR</h2><p>Encuentra un lugar para alquilar de manera rápida y sencilla</p> </div>
                <div class="b"><h2>DISPONIBILIDAD</h2><P>Conéctese con millones de inquilinos y arriende su propiedad 100% en línea</P></div>
                <div class="c"><h2> JUSTOS</h2> <p> Hogar, casas, condominios, y casas adosadas disponibles para alquilar</p></div>
                <div class="d"><h2> CALIDAD</h2> <p>Explore los listados de la más alta calidad, solicite en línea, firme su contrato de arrendamiento e incluso pague el alquiler desde cualquier dispositivo</p></div>
                </div>
            <h1>Misión</h1>
            <p>Nuestra misión es crear una experiencia donde el anfitrión de la casa y el huésped tenga un lugar donde disfrutar de su tiempo en ocio o de trabajo</p>
        </div>

    
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- ICONS -->
    <script src="https://kit.fontawesome.com/64fbbc4af2.js" crossorigin="anonymous"></script>   
</body>
</html>