body{
    background-color: whitesmoke;
}

.top{
    width: 100%;
    overflow: hidden;
    display: flex;
}

#title{
    font-size:3vw;
    font-weight: 700;
    font-family:serif;
    margin-bottom: 0;
    margin-right: 0!important;
}

#left{
    width: 60%;
    overflow: hidden;
}
#left img{
    height: 100%;
}

#right{
    width: 40%;
    padding: 50px;
    padding-right: 200px;
    text-align: center;
    margin: auto;
}
h1{
    font-weight: bold;
}



/***1200px***/
@media only screen and (max-width:1200px){
    #left{
        width: 50%;
    }
    #left img{
        height: 100%;
    }
    #right{
        width: 50%;
        padding: 10px;
        padding-right: 50px;
    }
    .top{
        margin-bottom: 0px;
        height: auto;
    }
}

/***600px***/
@media only screen and (max-width:600px){
    #left{
        display: none;
    }
    #right{
        width: 100%;
        padding: 20px;
    }
    #btn-white{
        display: none;
    }
}

/***1200px***/
@media only screen and (max-width:1000px){
    .top{
        margin-bottom: 10px;
        height: auto;
    }
}
/***/
@media only screen and (max-width:800px){
    .top{
        margin-bottom: 10px;
        height: auto;
    }
    #smalltitle{
        font-size:2vw;
    }
}