<div class="row #3d3d3d; valign-wrapper">
    <a href='#' class="col l2 s1 push-l1 white-text">2021 Google LLC</a>
    <a href='#' class="col l2 s1 white-text">Términos y condiciones</a>
    <a href='#' class="col l2 s1 white-text">Aviso de privacidad</a>
    <div class="col l2 m1 s1 pull-l1 right valign-wrapper">
        <img src="../../../assets/icons/fb.png" class="icons">
        <img src="../../../assets/icons/IG.png" class="icons">
        <img src="../../../assets/icons/Tw.png" class="icons">
  </div>
  </div>
  
