<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper">
        <div class="row white-text valign-wrapper">
          <a routerLink="/" class="col l10 push-l1 white-text">LOGO</a>
          <a routerLinkActive="active" routerLink="/nosotros" class="col l1 pull-l1 white-text">Nosotros</a>
          <a routerLinkActive="active" routerLink="/contacto" class="col l1 pull-l1 white-text">Contacto</a>
          <a routerLinkActive="active" routerLink="/productos"class="col l1 pull-l1 white-text">Catálogo</a>
          <a routerLinkActive="active" routerLink="/" class="col l2 pull-l1 white-text">Inicio de Sesión</a>
        </div>
      </div>
    </nav>
</div>
          