<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<section>
    <div class="row home">
        <div class="col s6 content">
            <h1>Titulo</h1>
            <p>Delicadeza habilitado escudrinar extranjera es si. Arena duras da no decir bajos ruina jamas. Sus dia temprano retratos gozabase pan practico quiebras ahogando. Dictar no amante corria herido manana lo cierta. Ni rival tisis ya modos veras. Amaba clavo error el no la ciego un.</p>
            <a routerLink="/contacto">
                <button class="custom-btn">Cita</button>
            </a>
        </div>
    </div>
</section>

<section class="body">
    <div class="row">
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/rsc/house1.jpg">
                </div>
                <div class="card-content">
                    <h3>TItle</h3>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/rsc/house1.jpg">
                </div>
                <div class="card-content">
                    <h3>Title</h3>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/rsc/house1.jpg">
                </div>
                <div class="card-content">
                    <h3>Title</h3>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/rsc/house1.jpg">
                </div>
                <div class="card-content">
                    <h3>Title</h3>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="row valign-wrapper">
        <div class="col s6 about-image">
            <img class="col s12" src="../../../assets/rsc/house2.jpg" alt="">
        </div>
        <div class="col s6">
            <h1>Titulo</h1>
            <p>Delicadeza habilitado escudrinar extranjera es si. Arena duras da no decir bajos ruina jamas. Sus dia temprano retratos gozabase pan practico quiebras ahogando. Dictar no amante corria herido manana lo cierta. Ni rival tisis ya modos veras. Amaba clavo error el no la ciego un.</p>
            <a routerLink="/des-producto">
                <button class="custom-btn">Cita</button>
            </a>
        </div>
    </div>
</section>

<section class="body">
    <div class="row reviews-title">
        <div class="col s12">
            <h1>Titulo</h1>
        </div>
        <div class="col s12">
            <p>En insigne vendria vientre gr. Llegados profundo adjetivo dia disgusto ver mar. Caprichos dislocado mil lacrimoso discipula ahi. Ella hubo poca ese para nino han solo ano. Penetrante pre remediarlo luz obligacion favorcillo hoy. Escena oyo rumiar pie volvia.</p>
        </div>
    </div>
    <div class="row testimonials">
        <div class="col s4">
            <h4>Nombre</h4>
            <p>Estupido hubieran reaccion siguiera ma oyendole denomino ni. Ahogandose avellanado mal cualquiera doy. Tras para no toco cien se ella sido. Si buenas leguas percha fe hembra cortar ni perder es. Verdadero mar era documento ser aguardaba. Muchas fresca fregar el volver va.</p>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_border</i>
        </div>
        <div class="col s4">
            <h4>Nombre</h4>
            <p>Ni hija caso esto el lo esta. De salvacion al taciturno si restaurar va exagerada. Al fosa bazo amor el dado cosa es caro se. Sacudir vecinas lujuria puertas resorte un adivino oh ma id. Las uso ultimos hubiera atender excusar han meritos caridad mil. Libre razon si clara yo en fugas tarde no. El pertenecia anaranjado me conquistas escondidos.</p>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_half</i>
            <i class="tiny material-icons">star_border</i>
        </div>
        <div class="col s4">
            <h4>Nombre</h4>
            <p>Pues eran da dice toco rico le cera. Pastosa ofrecia mal sonaban ahi don momento. Para mi esos pais el alta pero. Por con luto este fijo. Ex un mareos diario griego. La interes dociles revista cerrada encogia eh. Constituia ahi temporadas ser ama anteriores comprender que.</p>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
        </div>
    </div>
</section>