<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<section>
    <div class="row home">
        <div class="col s6 content">
            <h1>House Hub</h1>
            <p>Explora la página para descubrir hermosas y maravillosas casas disponibles para ti. Encuentra un nuevo lugar para rentar durante el tiempo que necesites en un espacio seguro y tranquilo, con proovedores de confianza y certificados por nuestros expertos. Descubre nuevos lugares para pasar tus días con precios llamativos.</p>
            <a routerLink="/contacto">
                <button class="custom-btn">Hacer cita</button>
            </a>
        </div>
    </div>
</section>

<section class="body">
    <div class="row">
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/rsc/house1.jpg">
                </div>
                <div class="card-content">
                    <h3>Más por menos</h3>
                    <p>Más espacio, más privacidad, más servicios... ¡y mejor calidad!</p>
              </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/rsc/house1.jpg">
                </div>
                <div class="card-content">
                    <h3>Tranquilidad</h3>
                    <p>Nuestra garantía Reserva con confianza te brinda ayuda las 24 horas, todos los días.</p>
              </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/rsc/house2.jpg">
                </div>
                <div class="card-content">
                    <h3>Más tiempo de calidad</h3>
                    <p>Desde que reservas hasta que te hospedas, el proceso es sencillo y ameno.</p>
              </div>
            </div>
        </div>
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/rsc/house3.jpg">
                </div>
                <div class="card-content">
                    <h3>La privacidad de un hogar</h3>
                    <p>Disfruta de cocinas completamente equipadas, servicio de lavandería, albercas, terrazas ¡y mucho más!</p>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="row valign-wrapper">
        <div class="col s6 about-image">
            <img class="col s12" src="../../../assets/rsc/house2.jpg" alt="">
        </div>
        <div class="col s6">
            <h1>¿Por qué te conviene?</h1>
            <p>¿Quieres saber por qué House Hub es confiable y cómo funciona? Vrbo es una comunidad global de rentas vacacionales con más de 2 millones de propiedades únicas que busca conectar a las personas con la gente y los lugares que aman. Desde 1995, Vrbo ofrece una plataforma mediante la cual se pone en contacto a los dueños de las casas vacacionales con las familias y los amigos que buscan un lugar para hospedarse. Vrbo te ofrece el espacio que necesitas para dejar atrás las distracciones de la vida cotidiana y simplemente disfrutar tu viaje junto con la gente que te acompaña. Con una amplia gama de casas en renta para vacacionar, desde condominios, cabañas, casas de playa y más, Vrbo tiene algo para todos los gustos y para grupos de todos los tamaños.</p>
            <a routerLink="/nosotros">
                <button class="custom-btn">Sobre nosotros</button>
            </a>
        </div>
    </div>
</section>

<section class="body">
    <div class="row reviews-title">
        <div class="col s12">
            <h1>Opiniones de usuarios</h1>
        </div>
        <div class="col s12">
            <p>Mira lo que algunos de nuestros usuarios piensan de nosotros.</p>
        </div>
    </div>
    <div class="row testimonials">
        <div class="col s4">
            <h4>José Perez</h4>
            <p>Excelente calidad. House Hub es la forma más segura de viajar y hospedar. Para los anfitriones como yo, nos llega a cubrir hasta 50.000€ en daños causados por nuestros huéspedes.</p>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_border</i>
        </div>
        <div class="col s4">
            <h4>Antonio Huerta</h4>
            <p>Soy viajero, principalmente por Europa, en coche y siempre que he contratado con House Hube me ha ido bien. Todo muy seguro.</p>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star_half</i>
            <i class="tiny material-icons">star_border</i>
        </div>
        <div class="col s4">
            <h4>Raúl Villa</h4>
            <p>Buena experiencia y buen precio. Definitivamente mejor que los hoteles. Muy buena atención por esta agencia House Hub. He tenido amabilidad, respeto, limpieza, tranquilidad, atención, buen servicio como si estuviera en casa. No duden House Hub le da la tranquilidad y el buen servicio que uno necesita.</p>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
            <i class="tiny material-icons">star</i>
        </div>
    </div>
</section>