.cat{
    padding: 100px 5%;
    background: url("../../../assets/imgs/catalogo.jpg");
    background-position: center;
    background-size: cover;
}

.first-text {
    font-family: 'Playfair Display', serif;
    font-size: 4vw;
    font-weight: bold;
    top: 250px;
    left: 120px;
    color: #ffffff;
}

a {
    color: #3d3d3d;
}

.filtro{
    font-family: 'Montserrat';
    font-size: 1.5vw;
    padding-top: 20px;
    align-content: center;
}

select {
    background-color: #ffffff;
    border: 1px solid #326ac9;
    color: #326ac9;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-size: 1vw;
    padding: 10px 30px;
}

.venta {
    transition-duration: 0.4s;
}

.venta:hover {
    font-weight: bold;
}

.renta {
    transition-duration: 0.4s;
}

.renta:hover {
    font-weight: bold;
}

