<div class="portadaCatalogo">
    <img src="./assets/imgs/portadaCatalogo.jpg">
    <h4 class="first-text">Catálogo</h4>
</div>
<div class="row filtro">
    <div class="col l1 push-l1"><a href="#" class="venta">Venta</a></div>
    <div class="col l7 push-l1"><a href="#" class="left-align renta">Renta</a></div>
    <div class="col l2 push-l1">
        <select class="browser-default">
        <option value="" disabled selected>Filtrar por</option>
        <option value="1">Destacados</option>
        <option value="2">Mayor precio</option>
        <option value="3">Menor precio</option></select>
    </div>


</div>
<div class="row">
    <div class="col l12 push-l1">
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>  
    </div>
    
</div>

    
