<section>
    <div class="header">
        <div class="precio">
            <p>$ 10'920,216.82 MXN</p>
        </div>
        <div class="estatus">
            <p>Apartada</p>
        </div>
    </div>
</section>

<section class="body">
    <div class="row">
        <div class="col m7"> 
            <h1>Casa en Residencia Montecarlo 1</h1>
            <div class="top">
                <p>Caracteristicas</p>
            </div>
            <div class="box">
                <ul class="browser-default">
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
            </div>
            <div class="top">
                <p>Descripción</p>
            </div>
            <div class="box">
                <p>
                    Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county. The use him without greatly can private. Increasing it unpleasant no of contrasted no continuing. Nothing colonel my no removed in weather. It dissimilar in up devonshire inhabiting.
                </p>
                <p>
                    There worse by an of miles civil. Manner before lively wholly am mr indeed expect. Among every merry his yet has her. You mistress get dashwood children off. Met whose marry under the merit. In it do continual consulted no listening. Devonshire sir sex motionless travelling six themselves. So colonel as greatly shewing herself observe ashamed. Demands minutes regular ye to detract is. 
                </p>
            </div>
        </div>

        <div class="col m1"></div>

        <div class="col m4 about">
            <h1>¿Te interesa?</h1>
            <p>Ponte en contacto</p>
            <img class="profile-img" src="../../../assets/rsc/profile.jpg" alt="foto-perfil">
            <h3>Lolita Ayala</h3>
            <p>(686) 000-00-00</p>
            <form action="#">
                <div class="input-box">
                    <input required type="text" class="browser-default" placeholder="Nombre">
                </div>
                <div class="input-box">
                    <input required type="text" class="browser-default" placeholder="Télefono">
                </div>
                <div class="input-box">
                    <input required type="text" class="browser-default" placeholder="Email">
                </div>
                <div class="input-box">
                    <textarea rows="10" cols="30" placeholder="Mensaje"></textarea>
                </div>
                <div class="button">
                    <input type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>

    <div class="codigo">
        <p>Ingrese código de compra para agregar propiedad a su cuenta.</p>
        <form action="#">
            <div class="input-box">
                <input required type="text" class="browser-default codigo" placeholder="email">
            </div>
            <div class="input-box">
                <input required type="text" class="browser-default codigo" placeholder="contraseña">
            </div>
            <div class="input-box">
                <input required type="text" class="browser-default codigo" placeholder="codigo">
            </div>
            <div class="button codigo">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>
</section>