/* HEADER */

.header{
    position: relative;
    height: 800px;
    background-image: url('../../../assets/rsc/house3.jpg');
    background-position: center;
    background-size: cover;
}

.header p {
    padding-left: 80px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.precio{
    position: absolute;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0px;
    left: 0px;
    border-radius: 0px 10px 0px 0px;
}

.estatus {
    position: absolute;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0px;
    right: 0px;
    border-radius: 10px 0px 0px 0px;
}

/* BODY */

.body {
    margin-left: 5%;
    margin-right: 5%;
}

.top {
    margin-left: 40px;
    padding: 1px;
    width: 200px;
    background-color: #326AC9;
    color: white;
    text-align: center;
    font-size: 24px;
    border-radius: 15px 15px 0px 0px;
}

.box {
    padding: 20px;
    box-shadow: 0px 5px 15px #ACBFE3;
    border-radius: 10px;
    margin-bottom: 50px;
}

.box ul {
    list-style: none;
}

.box ul li::before {
    content: "\2022";
    color: #326AC9;
    font-size: 20px;
    font-weight: 900;
    display: inline-block; 
    width: 0.8em;
    margin-left: -1em;
}

/* ABOUT */

.about {
    background-color: #326AC9;
    text-align: center;
    color: white;
    padding-bottom: 50px;
    border-radius: 0px 0px 15px 15px;
}

.about h1 {
    font-size: 50px;
}

.about h3 {
    font-size: 40px;
    font-weight: bold;
}

.about p {
    margin-top: -20px;
    font-size: 25px;
}

.profile-img{
    width: 200px;
    border-radius: 50%;
}

.input-box details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box input, textarea{
    height: 70px;
    width: 70%;
    outline: none;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    background-color: white;
    margin-bottom: 20px;
}

.input-box textarea {
    padding: 15px;
}

.about .button input {
    height: 60px;
    width: 70%;
    background-color: #326AC9; /* Green */
    border: 2px solid white; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.2s;
}

.about .button input:hover {
    height: 60px;
    width: 70%;
    background-color: white; /* Green */
    border: 2px solid #326AC9; /* Green */
    color: #326AC9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

/* CODIGO */

.codigo p {
    font-size: 32px;
}

.codigo input {
    height: 70px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    background-color: white;
    border: 2px solid #326AC9; /* Green */
    margin-bottom: 20px;
}

.codigo .button input {
    height: 70px;
    width: 250px;
    background-color: #326AC9; /* Green */
    border: 2px solid white; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition: 0.2s;
}

.codigo .button input:hover {
    height: 70px;
    width: 250px;
    background-color: white; /* Green */
    border: 2px solid #326AC9; /* Green */
    color: #326AC9;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}